<div id="grad1">
  <h1 style="color:white;font-family:'Courier New', Courier, monospace;text-align:center;margin-bottom: 4%"><u>Student Details</u></h1>

</div>
<div>
<form>
  <div class="d">
  <span class="s">
    <strong>Name:</strong>
  </span>
  <input type="text" name="name" id="name" class="t" style="color: darkblue">
  <br>
  <span class="s"><strong>Age:</strong></span><input type="number" name="age" id="age" class="t"style="color: darkblue"><br>
  <span class="s"><strong>Mob No.:</strong></span><input type="text" name="mobile" id="mob" class="t" style="color: darkblue"><br>
  <span class="s"><strong> English:</strong></span><input type="number" name="english" id="eng" class="t"style="color: darkblue"><br>
  <span class="s"><strong> Maths:</strong></span><input type="number" name="maths" id="maths" class="t"style="color: darkblue"><br>
  <span class="s"><strong> Science:</strong></span><input type="number" name="science" id="sc" class="t"style="color: darkblue"><br>
  <span class="s"><strong> Percentage:</strong></span><input type="" name="percentage" id="percentage" class="t"style="color: darkblue" disabled><br>
  </div>
  <span>
    <input type="button" class="button" value="Submit" style="margin-left: 41%" (click)='OnSubmit()' id='formSubmit'>
  </span>
  <span>
    <input type="button" class="button" value="Reset" style="margin-left: 2.5%">
  </span>
</form>
</div>         